/* Global variables  */
:root {
	--bg-light: rgb(231, 255, 215);
	--font:"inter", sans-serif;
}

@font-face {
	font-family: 'Garbata';
	src: url(/fonts/GarbataTrial-Black.ttf);
}


.logo {
	font-family: 'Garbata';
	margin: 0;
	display: inline;
}

.logoSub {
	font-family: 'Courier New', Courier, monospace;
	margin: 0;
	display: inline;
}

/* global styles */
body {
	background-color: var(--bg-light);
	font-family: var(--font);
	font-size: 18px;
	max-width: 600px;
	justify-self: center;
	display: grid;
}
section {
	padding-right: 2rem;
	padding-left: 2rem;
}



/* button styles on page */
button {
	background-color:rgb(250, 255, 247);
	justify-self: center;
	background-color: none;
	align-self: center;
	font-family: var(--font);

}

/* header at the top of the page */
#title {
	display:grid;
	grid-template-columns: auto auto;
	padding-left: 2rem;
	padding-right: 3rem;
}
#title > #Sutton_headshot {
	border-radius: 25%;
	margin: 1rem 3rem;
	max-width: 40%;
	min-width: 200px;
/* 	max-height: auto; */
	justify-self: start;
	z-index: 1;
}
#title > h1 {
	align-self: end;
	margin: 2rem;
	font-size: 75px;
	z-index: 2;
}
#title > p {
	font-size: 16pt;
}

#c2a {
	display: grid;
	grid-template-columns: auto 35% auto;
}

#c2a > button {
	background-color:#FAFFF7;
	justify-self: center;
	background-color: none;
	align-self: center;
	font-family: var(--font);
	font-size: 18pt;
	grid-column-start: 2;
	grid-column-end: 3;
	margin: 25px;
}

.banner {
	padding-top: 20px;
}

.content {
	max-width: 600px;
	justify-self: center;
}


a {
	text-decoration: none;
	color: black;
}

/* nav menu styles */
head {
	display: grid;
	grid-template-columns: auto;
}

.menuIcon {
	position: fixed;
	justify-self: end;
	z-index: 10;
}

.menuContent {
	display:none; /* hidden by default */
	position: fixed;
	padding-top: 20px;
	z-index: 10;
}

.show {
	display: block;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	width: 130px;
	background-color: #f1f1f1;
	height: 100%;
	
	overflow: auto;
}

li a {
	display: block;
	color: black;
	padding: 8px 16px;
	text-decoration: none;
}

a {
	text-align: center;
}

li a:hover {
	background-color: #555555;
	color: white;
}

.active {
	background-color: #04AA6D;
	color: white;
}

/* section - about information */
#about {
	display: grid;
	padding-top: 10%;
	padding-bottom: 10%;
	
}
#about > h1 {
	align-self: stretch;
}


/* Python dev info */
#python {
	display: grid;
	padding-top:10%;
	padding-bottom: 10%;
}

#info {
	display:grid;
	padding-top:10%;
	padding-bottom:10%;
}

/* contact form */
form {
	display: grid;
	grid-template-rows: auto auto auto;
}

#main {
	justify-self: center;
}
