/*   */

:root {
	--bg-light: #ffffff;
	--font:"inter", sans-serif;
}
body {
	background-color: var(--bg-light);
	font-family: var(--font);
}

section {
	padding-right: 2rem;
	padding-left: 2rem;
}
.DaBox {
	background-color: rgb(231, 255, 215);
	max-width: 80%;
	margin-left: auto;
	margin-right: auto;
}

#title {
	display:grid;
	grid-template-columns: auto auto;
	padding-left: 2rem;
	padding-right: 3rem;
}

#title > #Sutton_headshot {
	border-radius: 25%;
	margin: 1rem 3rem;
	max-width: 40%;
	max-height: auto;
	justify-self: center;
}

#title > h1 {
	align-self: end;
	margin: 2rem;
	font-size: 75px;
}

#title > p {
	font-size: 16pt;
}
/* alternating content --start right */
.heading2 > h1 {
	grid-column-start: 2;
	grid-row-start: 1;
}
.heading2 {
	display: grid;
	grid-template-columns: 2fr 1fr;
	grid-template-rows: auto auto;
}

/* alternating content --start left */
.heading {
	display: grid;
	grid-template-columns: 1fr 2fr;
	grid-template-rows: auto auto;
}
.heading > h1 {
	grid-column-start: 1;
	grid-row-start: 1;
}

.heading > p {
	grid-column-start: 2;
	grid-row-start: 2;
}
.heading2 > p {
	grid-column-start: 2;
	grid-row-start: 2;
}