/*   */

:root {
	--bg-light: #ffffff;
	--font:"inter", sans-serif;
}
body {
	background-color: var(--bg-light);
}
.DaBox {
	background-color: rgb(231, 255, 215);
	max-width: 80%;
	margin-left: auto;
	margin-right: auto;
}

#title {
	display:grid;
	grid-template-columns: auto auto;
}

#title > #Sutton_headshot {
	border-radius: 25%;
	margin: 1rem 3rem;
	max-width: 40%;
	max-height: auto;
	justify-self: right;
}

#title > h1 {
	align-self: center;
	margin: 2rem;
}