/*   */

:root {
	--bg-light: #BBBFBF;
	--font:"inter", sans-serif;
}

body {
	font-family:var( --font);
	background: var( --bg-light);
}

.text_box {
	display: flex;
	flex-direction: row;
	justify-content:space around;
}	